.container{
    display: flex;
}
.menu{
    flex: 1;
    padding: 20px;
    background-color: var(--bgSoft);
}
.content{
    padding: 20px;
    flex: 4;
}
.wrapper{
    display: flex;
    gap: 20px;
    margin-top :20px;

}
.min{
 flex: 3;
 display: flex;
 flex-direction: column;
 gap: 20;
}
.crd{
 display: flex;
 gap:20px;
 justify-content: space-between;
}
.side{
 flex: 1;
}